---
layout: base
---

<article id="first" class="region flow">
  <h1>{{- meta.siteName -}}</h1>

  <p>
    A very minimal setup for a website built with Eleventy 3.0. Built by
    <a href="https://www.lene.dev/">Lene</a>, with the help of
    <a href="https://cube.fyi/">CUBE CSS</a>,
    <a href="https://utopia.fyi/">Utopia</a> and
    <a href="https://every-layout.dev/">Every Layout</a>.
  </p>

  <section class="flow">
    <h2>Latest Blog Posts</h2>
    <ul role="list" class="grid-list">
    {%- for post in collections.posts | reverse -%}
      {% if loop.index <= 3 %}
      <li>
        <article class="card flow">
          {% if post.data.featuredImage %}
            <img 
              src="{{ post.data.featuredImage }}" 
              alt="{{ post.data.featuredImageAlt or post.data.title }}"
              class="card-image"
            />
          {% endif %}
          <div class="card-content flow" style="--flow-space: 0.5em">
            <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
            <p>{{ post.data.description }}</p>
            <time datetime="{{ post.date | w3DateFilter }}">{{ post.date | dateFilter }}</time>
          </div>
        </article>
      </li>
      {% endif %}
    {%- endfor -%}
    </ul>
    <a href="/blog/" class="button">View all posts</a>
  </section>

  <section class="flow">
    <h2>Featured Projects</h2>
    <ul role="list" class="grid-list">
    {%- for project in collections.projects -%}
      {% if project.data.featured %}
      <li>
        <article class="card flow">
          {% if project.data.featuredImage %}
            <img 
              src="{{ project.data.featuredImage }}" 
              alt="{{ project.data.featuredImageAlt or project.data.title }}"
              class="card-image"
            />
          {% endif %}
          <div class="card-content flow" style="--flow-space: 0.5em">
            <h3><a href="{{ project.url }}">{{ project.data.title }}</a></h3>
            <p>{{ project.data.description }}</p>
          </div>
        </article>
      </li>
      {% endif %}
    {%- endfor -%}
    </ul>
    <a href="/projects/" class="button">View all projects</a>
  </section>
</article>